<div class="container">
  <h1>Bem-vindo ao Movie Search!</h1>
    <p class="sub-title">
      Seu novo site de buscas favorito! Aqui você encontra filmes
      clássicos até os lançamentos mais esperados do ano.
      Use nosso buscador e encontre seu filme preferido!
    </p>
</div>
<div class="content" role="main">
  <app-search-bar (submitted)="onTerm($event)"></app-search-bar>
  <app-page-list (submitted)="onTerm($event)" [currentQuery]="currentQuery" [movieList]="movieResult"></app-page-list>
</div>
